# URL to a MobileFaceNet TensorFlow Lite embedding model that you are licensed to redistribute/use.
# The app downloads it once and the native recognition module caches it locally.
EXPO_PUBLIC_FACE_MODEL_URL=
